[submodule "optical_flow_estimation/mmflow"]
	path = optical_flow_estimation/mmflow
	url = git@github.com:open-mmlab/mmflow.git
[submodule "object_detection/mmdetection"]
	path = object_detection/mmdetection
	url = git@github.com:open-mmlab/mmdetection.git
[submodule "semantic_segmentation/mmsegmentation"]
	path = semantic_segmentation/mmsegmentation
	url = git@github.com:open-mmlab/mmsegmentation.git
[submodule "object_detection/DPT"]
	path = object_detection/DPT
	url = https://github.com/isl-org/DPT.git
[submodule "object_detection/3DCommonCorruptions"]
	path = object_detection/3DCommonCorruptions
	url = https://github.com/EPFL-VILAB/3DCommonCorruptions.git
[submodule "object_detection/imagecorruptions"]
	path = object_detection/imagecorruptions
	url = https://github.com/bethgelab/imagecorruptions.git
