[submodule "optical_flow_estimation/mmflow"]
	path = optical_flow_estimation/mmflow
	url = git@github.com:open-mmlab/mmflow.git
[submodule "object_detection/mmdetection"]
	path = object_detection/mmdetection
	url = git@github.com:open-mmlab/mmdetection.git